{deps,[
  {cowboy, ".*", {git, "git://github.com/extend/cowboy", 'dbb636034f20736e16eb9d6c809217c9525b6cbd'}},
  {jiffy, ".*",{git, "https://github.com/davisp/jiffy.git", {tag,"0.14.7"}}},
  {msgpack, ".*", {git, "https://github.com/biokoda/msgpack-erlang", 'ba2f7f73e8b2089058f0762cf7af56da312a29fd'}}
]}.
