{deps,[
  {cowboy, ".*", {git, "git://github.com/extend/cowboy", 'dbb636034f20736e16eb9d6c809217c9525b6cbd'}},
  {jiffy, ".*",{git, "https://github.com/davisp/jiffy.git", {tag,"0.14.7"}}},
  {msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang", '0ffd66b1e6bb805cb9ca968a34a3924ce79bb497'}}
]}.
